<!doctype html>
<html ng-app="musicApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/music.js"></script>
    </head>
    <body>
        <h2>List of current competitors and their bots</h2>
        <table border="1" style="width:50%">
            <tr>
                <td>Competitor Name</td>
                <td>Bot Location</td>
            </tr>
            <tr>
                <td>Pat's ElixirBot</td>
                <td>https://github.com/pviafore/battleline-ai-bot</td>
            </tr>
        </table>
        <div ng-controller="MusicController">
            <p>For your listening pleasure:
                <button ng-click="musicPlayer.play()" class="button" ng-show="!musicPlayer.playing">Play</button>
                <button ng-click="musicPlayer.stop()" class="button" ng-show="musicPlayer.playing">Stop</button>
            </p>
        </div>
    </body>
</html>
